.login-card {
    padding: 20px;
    background-color: var(--color-ededed);
    width: 600px;
    margin: 100px auto;
    border-radius: 10px;
}
.login-card h3{
    font-size: 19px;
    font-weight: 500;
    color: var(--color-777777);
}
.login-card p{
    font-size: 1rem;
    color: gray;
}
.login-card .form-control{
    height: 50px;
    background-color:  var(--color-f5f5f7);
    color: var(--color-777777);
    font-size: 1rem;
    border-radius: 15px;
    border-color: transparent ;
}
.login-card a{
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-2986CC);
}
.login-card .forgot:hover{
    color:black;
}

.login-card .signup{
    background-color: var(--color-2986CC);
    color: white;
}
.login-card .signup:hover{
    background-color: var(--color-FF5733);
    color: black;
}